<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lemcoo.exam.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="top.lemcoo.exam.domain.entity.SysMenu">
            <id property="menuId" column="menu_id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="perms" column="perms" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="menuType" column="menu_type" jdbcType="INTEGER"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        m.menu_id,m.parent_id,m.menu_name, m.`path`,ifnull(m.perms, '') as perms,m.component,
        m.`menu_type`,m.icon,m.`order_num`, m.create_time,m.update_time,m.status, m.del_flag
    </sql>

    <select id="selectMenuPermsByUserId" resultType="java.lang.String">
        SELECT DISTINCT
            m.perms
        FROM
            sys_menu m
                LEFT JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
                LEFT JOIN sys_user_role ur ON rm.role_id = ur.role_id
                LEFT JOIN sys_role r ON r.role_id = ur.role_id
        WHERE
            r.del_flag = 1
          AND r.`status` = 1
          AND m.`status` = 1
          AND ur.user_id = #{userId}
    </select>

    <select id="selectMenuTreeByUserId" resultMap="BaseResultMap">
        SELECT DISTINCT
        <include refid="Base_Column_List"/>
        FROM sys_menu m
        LEFT JOIN sys_role_menu rm ON rm.menu_id = m.menu_id
        LEFT JOIN sys_role r ON rm.role_id = r.role_id AND r.status = 1 AND r.del_flag = 1
        LEFT JOIN sys_user_role ur ON r.role_id = ur.role_id
        LEFT JOIN sys_user u ON ur.user_id = u.user_id AND u.status = 1 AND u.del_flag = 1
        WHERE
            u.user_id = #{userId} AND m.menu_type in (0, 1) AND m.status = 1 AND m.del_flag = 1
        ORDER BY
            m.parent_id, m.order_num
    </select>
</mapper>
