<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lemcoo.exam.mapper.SysUserMapper">

    <resultMap id="resultMap" type="top.lemcoo.exam.domain.entity.SysUser">
        <!--team中的基本属性-->
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="avatar" property="avatar"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="city" property="city"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="status" property="status"/>
        <result column="del_flag" property="delFlag"/>

        <!--关联属性的映射关系-->
        <collection property="roles" ofType="top.lemcoo.exam.domain.entity.SysRole">
            <id column="role_id" property="roleId"/>
            <result column="role_name" property="roleName"/>
            <result column="role_code" property="roleCode"/>
            <result column="remark" property="remark"/>
            <result column="role_create_time" property="createTime"/>
            <result column="role_update_time" property="updateTime"/>
            <result column="role_status" property="status"/>
            <result column="role_del_flag" property="delFlag"/>
        </collection>
    </resultMap>


    <select id="selectUser" resultMap="resultMap">
        SELECT
            su.user_id,
            su.username,
            su.`password`,
            su.avatar,
            su.email,
            su.city,
            su.create_time,
            su.update_time,
            su.last_login_time,
            su.`status`,
            sr.role_id,
            sr.role_name,
            sr.`role_code`,
            sr.remark,
            sr.create_time AS role_create_time,
            sr.update_time AS role_update_time,
            sr.`status` AS role_status,
            su.del_flag,
            sr.del_flag AS role_del_flag
        FROM
            sys_user su
                LEFT JOIN sys_user_role sur ON su.user_id = sur.user_id
                LEFT JOIN sys_role sr ON sur.role_id = sr.role_id
                AND sr.STATUS = 1
                AND sr.del_flag = 1
        WHERE
            su.STATUS = 1
          AND su.del_flag = 1
          AND su.username = #{username}
    </select>
</mapper>